[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
autopep8 = "*"
pytest = "*"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
ipython = "*"
ipywidgets = "*"

[requires]
python_version = "3.7"
